<!doctype html>
<!-- Note: Based on Chart.js sample https://github.com/nnnick/Chart.js/blob/master/samples/line.html -->
<html>
	<head>
		<title>Line Chart</title>
		<script src="js/Chart.js"></script>
		<style>
		#title, #legend {
		  margin: 0 auto;
      font-family: clean, sans-serif;
		}
		#title {
		  width: 0%;
		}
		#legend {
		  width: 50%;
		}
		#data1 {
		  color: rgba(232, 57, 12, 1); /* red */
		}
		#data2 {
		  color: rgba(0, 121, 355, 1); /* blue */
		}
		</style>
	</head>
	<body>
		<div style="width:50%">
			<div>
			  <h1 id="title">Title</h1>
				<canvas id="canvas" height="450" width="600"></canvas>
			</div>
		</div>


	<script>
	  var white = "#fff";
	  var red = "rgba(232, 57, 12, 1)";
	  var redFill = "rgba(232, 57, 12, 0.1)";
	  var blue = "rgba(0, 121, 355, 1)";
	  var blueFill = "rgba(0, 121, 355, 0.1)";
		var lineChartData = {
			labels : {{ labels }},
			xAxisLabel: "The X Axis",
			yAxisLabel: "The Y Axis",
			datasets : [
				{
					label: "Red - data1",
					fillColor : redFill,
					strokeColor : red,
					pointColor : red,
					pointStrokeColor : red,
					pointHighlightFill : white,
					pointHighlightStroke : red,
					data : {{ red }}
				},
				{
					label: "Blue - data2",
					fillColor : blueFill,
					strokeColor : blue,
					pointColor : blue,
					pointStrokeColor : blue,
					pointHighlightFill : "#fff",
					pointHighlightStroke : blue,
					data : {{ blue }}
				}
			]

		}

	window.onload = function(){
		var ctx = document.getElementById("canvas").getContext("2d");
		window.myLine = new Chart(ctx).Line(lineChartData, {
			responsive: true
		});
	}
	</script>


  <div id="legend">
	<p><span id="data1">&block;</span> - dataset 1</p>
	<p><span id="data2">&block;</span> - dataset 2</p>
  </div>
	</body>
</html>
